<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Emerald City Guitars :: <%= @meta_title%></title>
    <meta name="keywords" content="<%= @meta_keywords %>" />
    <meta name="description" content="<%= @meta_description %>" />
    <meta property="og:site_name" content="Emerald City Guitars"/>
    <meta property="fb:admins" content="730430626"/>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= yield :head -%>
  
  </head>
  <body>
    <%= render :partial => 'shared/header'  %>

    <%= yield %>

    <%= render :partial => 'shared/javascripts'  %>
  </body>
</html>
